@using System.Web.Optimization
<!DOCTYPE html>
<html  ng-app="appAngularExpenses" >
<head>
    <base href="/">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/js")
    @Styles.Render("~/Styles")
    @Scripts.Render("~/bundles/angularJs")
    <script src="~/Scripts/jquery.signalR-2.1.2.js"></script>
    <script src="/signalr/hubs"></script>
</head>
<body>
    <nav class="light-blue lighten-1" role="navigation">
        <div class="nav-wrapper container">
            <a id="logo-container" href="@Url.Action("Index", "Expenses")" class="brand-logo">
            </a>
            <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">
                <li>
                    <a href="report">Report</a>
                </li>
                <li>
                    <a href="expenses">Expenses</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="section no-pad-bot" id="index-banner">
        <div class="container">
            <h2 class="header center orange-text"></h2>
        </div>
    </div>
    <div class="container">
        <div class="section">
            <!--   Icon Section   -->
            @RenderBody()
        </div>
        <div class="section">
        </div>
    </div>
    <footer class="page-footer orange">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">Hoy much have you spend this year?</h5>
                    <p class="grey-text text-lighten-4">The purpose of this Website is to show the use of Mvc, Entity Framework and Materialize in an application with vial Studio .NET</p>
                </div>
                <div class="col l3 s12">
                    <h5 class="white-text"></h5>
                    <ul>
                        <li><a class="white-text" href="#!"></a></li>
                    </ul>
                </div>
                <div class="col l3 s12">
                    <h5 class="white-text"></h5>
                    <ul>
                        <li><a class="white-text" href="#!"></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
            </div>
        </div>
    </footer>
    <!--  Scripts-->
    @*<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
        <script type="text/javascript" src="http://demo.geekslabs.com/materialize/v3.1/js/plugins/data-tables/js/jquery.dataTables.min.js"></script>*@
</body>
</html>

<script language="javascript" type="text/javascript">
    //Used to display and close the system notifications
    $(document).ready(function () {
        $("#NotificationBox").fadeIn(500);
        $("#NotificationBox").delay(1000).slideUp(500);
    });
</script>